#buttonHam {
}

#buttonHam #text {
  text-buffer: '';
}

#buttonHam #image {
  href: 'hamburger2.png';
}

#buttonNew {
}

#buttonNew #text {
  text-buffer: '';
}

#buttonNew #image {
  href: 'plus2.png';
}
